.card {
    position: relative;
    top: 100px;
    left: 50px;
  }
  
  .back {
    width: 667px;
    height: 350px;
    background-color: rgb(48 48 48);
  }
  
  .main {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.1s ease, left 0.1s;
  }
  
  .main:hover {  
  /*   position: absolute; */
    top: -23px;
    left: 14px;
  }